h3
{
    font-size: 60px;
}

#subb
{
    font-size: 20px;
    background-color: aqua;
}

#sobb
{
    font-size: 20px;
    background-color: coral;
}

#search
{
    font-size: 20px;
    background-color: saddlebrown;
    color: whitesmoke;
}